doctype html
html(lang="en")
  include ../includes/head.pug
  title Admin Rental - #{judul}
  body
    main
      .container
        h2.center  Admin Menu
        table
          thead
            tr
              th Link
              th Deskripsi
          tbody
            tr 
              td
                a(href=upPageLevel+"admin/ships" style="width: 150px; margin-right: 40px ").btn.btn-small.waves-light.waves-effect Input Kapal 
              td  Input kapal baru sebagai koleksi kapal #{judul}.
            tr 
              td
                a(href=upPageLevel+"admin/rents" style="width: 150px; margin-right: 40px ").btn.btn-small.waves-light.waves-effect Rental 
              td  Pengaturan rental. konfirmasi, penutupan dan penghapusan transaksi dari keseluruhan rental.     
        br
        .center
          a(href="myaccount") Kembali ke Akun
  include ../includes/script.pug
  
  script.
    let upLevel = "#{upPageLevel}";