doctype html
html(lang="en")
  include ../includes/head.pug
  title Sewa Kapal
  body
    include ../includes/header.pug
    main
      br
      .container.z-depth-3(style="padding: 1em 5em;")
        h4.center Form Penyewaan
        form(action=upPageLevel+'api/rentals/', method="post")   
          label(for='name')
            b Nama
          input(type='text' placeholder='Penerima / Customer' name='custName' required)
            
          label(for='phone')
            b Telpon
          input(type='text' placeholder='HP/Telp Penerima Rental' name='phone' required)
          
          label(for='deliveryLocation')
            b Alamat  
          input(type='text' placeholder='Lokasi Dermaga Pengantaran Rental' name='deliveryLocation' required) 
          label(for='dateOut')
            b Tanggal Pengembalian
          input.datepicker#tglKembali(type='text' placeholder='Tentukan lamanya penyewaan' name='dateReturned' yearRange[3] )
          label
            b Estimasi Harga Sewa
          h5#priceLabel -
          input#shipValueId(type="hidden" value="-" name="shipId")
          input#userDataId(type="hidden" value="-" name="userId")
          button(type='submit' class= `${colorTheme}`).waves-light.btn.right Sewa
    
        div
        a(href=upPageLevel+'../categories/'+shipId class= `${colorTheme}`).waves-light.btn.right kembali
        br
          
        br



    include ../includes/footer.pug
    include ../includes/loginmodal.pug
    include ../includes/script.pug   
    script.
      let shipId = "#{shipId}"
      let shipReq = new XMLHttpRequest();
      let shipData = null
      shipReq.open('GET', '/api/ships/'+shipId);
      shipReq.onload = function() {
        shipData = JSON.parse(shipReq.responseText);
        rentalFeeCalc()
        document.getElementById('shipValueId').value = shipData._id;
        document.getElementById('userDataId').value = userData._id;
      }
      shipReq.send();

      let dateString = null;
      let inpDate =null;

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, {
          format: 'yyyy-mm-dd',
          maxDate: new Date(today.year + 3,today.month,today.date+2),
          minDate: new Date(today.year,today.month,today.date +2),
          setDefaultDate: true,
          defaultDate: new Date(Date.now()),
          yearRange: [today.year, today.year+3]
          });
          document.getElementById('tglKembali').addEventListener("change", rentalFeeCalc);
          

      });
      
      function rentalFeeCalc(){
          dateString = document.getElementById('tglKembali').value
          inpDate= new Date(dateString.match(/^(\d)+/)[0],(parseInt(dateString.match(/(?<=-)(\d)+(?=-)/)[0]) -1),dateString.match(/(?<=-)(\d+)$/)[0]);
          let diffDays = Math.round(Math.abs((inpDate.getTime() - today.getTime()) / (86400000/*one day in ms*/)));
          
          document.getElementById('priceLabel').innerHTML = currFormat(diffDays * shipData.price)
        };
  

    
